<nav>
  <a href="/" style="display: inline-block; width: 48px; height: 48px">
    <img src="/img/logo.svg">
  </a>
  <a href="/about_me" class="blue-accent">about me</a>
  <a href="/experience" class="green-accent">experience</a>
  <a href="/resume" class="pink-accent">resume</a>
</nav>
