<nav>
  <a href="/" style="display: inline-block; width: 48px; height: 48px">
    <img src="/img/logo.svg">
  </a>
  <a href="/about_me" class="cyan-accent nav-link">about me</a>
  <a href="/experience" class="green-accent nav-link">experience</a>
  <a href="/resume" class="pink-accent nav-link">resume</a>
</nav>
