* {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Arial;
}

.programming {
    font-family: Courier New;
}

.index.jumbotron {
    background-image: url(img/norway.jpg);
    color: white;
}

.jumbotron {
    background-size: cover;
    background-position: center;
}