<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title or header.title %}
      <title>lauerman.dev | {{ title or header.title }}</title>
    {% else %}
      <title>lauerman.dev</title>
    {% endif %}

    <link rel="stylesheet" href="/css/styles.min.css"/>
  </head>

  <body>
    <nav>
      <a href="/" style="display: inline-block; width: 48px; height: 48px">
        <img src="/img/logo.svg">
      </a>
      <a href="/about_me" class="blue-accent">about me</a>
      <a href="/experience" class="green-accent">experience</a>
      <a href="/resume" class="pink-accent">resume</a>
    </nav>
    <div class="content">
      {% block header %}
        {% if header %}
          <h1 class="{{ header.accent_class }}">
            {{ header.title }} 
            <small>{{ header.description }}</small>
          </h1>
        {% endif %}
      {% endblock %}

      {{ content | safe }}
    </div>
    <script type="text/javascript" src="/js/vanilla-tilt.min.js"></script>
  </body>
</html>
