---
title: lauerman.dev
---
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>

  <body>
    <nav>
      <a href="/">
        <img src="/img/logo.svg" style="width: 48px; height: 48px">
      </a>
      <a href="/experience">experience</a>
      <a href="/resume">resume</a>
    </nav>
    {{ content | safe }}
  </body>
</html>
