.header {
  padding: 20px 0;
}

.signature {
  width: 200px;
  height: 200px;
}

canvas.signature {
  padding: 0;
  margin: 0 auto;
  display: block;
}

div.signature {
  margin: 10px 0;
}

.name {
  text-align: center;
  margin: 0;
}

.name-enter {
  opacity: 0;
}

.name-enter-active {
  opacity: 1;
  transition: opacity 2s;
}
