@use "normalize.css/normalize";
@use "@fontsource/quicksand";

// Dracula colors
// from https://draculatheme.com/contribute

$drac-background: #282a36;
$drac-current-line: #44475a;
$drac-foreground: #f8f8f2;
$drac-comment: #6272a4;
$drac-cyan: #8be9fd;
$drac-green: #50fa7b;
$drac-orange: #ffb86c;
$drac-pink: #ff79c6;
$drac-purple: #bd93f9;
$drac-red: #ff5555;
$drac-yellow: #f1fa8c;

$bg-color: $drac-background;
$bg-accent: $drac-current-line;
$txt-color: $drac-foreground;
$txt-accent: $drac-comment;
$cyan: $drac-cyan;
$green: $drac-green;
$orange: $drac-orange;
$pink: $drac-pink;
$purple: $drac-purple;
$red: $drac-red;
$yellow: $drac-yellow;

:root {
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
}

html {
  background: $bg-color;
  color: $txt-color;

  background-image: url("/img/logo-bg.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  line-height: 1.6;
  font-size: 18px;
}

h1 {
  line-height: 1;
}

img {
  max-width: 100%;
  border-radius: 5px;
  vertical-align: middle;
}

figure {
  background-color: $bg-accent;
  border-radius: 15px;
  overflow: hidden;
  margin: 0;

  img {
    border-radius: 0;
  }

  figcaption {
    line-height: 3;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  object[type="application/pdf"] {
    display: none;
  }
}

a {
  font-weight: bold;

  &:link, &:visited, &:hover, &:active {
    color: $txt-color;
  }
}

small {
  color: $txt-accent;
  font-size: 50%;
}

footer {
  color: $txt-accent;
  text-align: center;
}

.content {
  margin: 40px auto;
  padding: 0 10px;
  max-width: 650px;
}

.header {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

.cyan-accent {
  color: $cyan !important;
}

.green-accent {
  color: $green !important;
}

.pink-accent {
  color: $pink !important;
}

.img-header {
  display: flex;
  align-items: center;

  img {
    height: 4em;
    margin-right: 10px;
  }
}

.hero {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

.action-btn {
  text-decoration: none;
  background-color: $bg-accent;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  margin: 5px auto;
  font-size: 20px;
}

.exp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;

  article {
    background: $bg-accent;
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
  }
}

/* Chip styling */

.chip-group {
  list-style: none;
  padding: 0;
}

.chip, .chip-light {
  white-space: nowrap;
  padding: 6px 12px;
  margin: 1px;
  border-radius: 24px;
  display: inline-block;
}

.chip {
  border: none;
  background-color: $bg-accent;
}

.chip-light {
  border: 1px solid $txt-color;
}

/* Nav styling */

nav {
  background: $bg-accent;
  padding: 0 40px;

  display: flex;
  align-items: center;
  
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }

  > * {
    margin: 10px;
    text-decoration: none;
  }
}
