@font-face {
  font-family: "Quicksand";
}

:root {
  font-family: "Quicksand";

  --bg-color: #282A36;
  --bg-accent: #44475A;
  --txt-color: #F8F8F2;
  --txt-accent: #6272A4;

  --green-accent: #50FA7B;
  --blue-accent: #8BE9FD;
  --pink-accent: #FF79C6;
}
