html {
  background: var(--bg-color);
  color: var(--txt-color);
}

body {
  line-height: 1.6;
  font-size: 18px;
}

img {
  max-width: 100%;
}

.content {
  margin: 40px auto;
  padding: 0 10px;
}

@media screen and (min-width: 650px) {
  .content {
    width: 650px;
  }
}

.blue-accent {
  color: var(--blue-accent);
}

.green-accent {
  color: var(--green-accent);
}

.pink-accent {
  color: var(--pink-accent);
}

/* Nav styling */

nav {
  background: var(--bg-accent);
  height: 60px;
  padding: 0 40px;

  display: flex;
  align-items: center;
}

nav * {
  margin: 0 10px;
  text-decoration: none;
}

nav *:first-child {
  margin-left: 0;
}

nav *:last-child {
  margin-right: 0;
}
