html {
  background: var(--bg-color);
  color: var(--txt-color);
}

body {
  line-height: 1.6;
  font-size: 18px;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 650px) {
  object[type="application/pdf"] {
    display: none;
  }
}

a:link, a:visited, a:hover, a:active {
  color: var(--txt-color);
}

a {
  font-weight: bold;
}

small {
  color: var(--txt-accent);
  font-size: 50%;
}

.content {
  margin: 40px auto;
  padding: 0 10px;
}

@media screen and (min-width: 650px) {
  .content {
    width: 650px;
  }
}

.blue-accent {
  color: var(--blue-accent) !important;
}

.green-accent {
  color: var(--green-accent) !important;
}

.pink-accent {
  color: var(--pink-accent) !important;
}

/* Chip styling */

.chip-group {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2.5;
}

.chip, .chip-light {
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 24px;
  display: inline;
}

.chip {
  border: none;
  background-color: var(--bg-accent);
}

.chip-light {
  border: 1px solid var(--txt-color);
}

/* Nav styling */

nav {
  background: var(--bg-accent);
  height: 60px;
  padding: 0 40px;

  display: flex;
  align-items: center;
}

@media screen and (max-width: 650px) {
  nav {
    padding: 0 6px;
  }
}

nav * {
  margin: 0 10px;
  text-decoration: none;
}

nav *:first-child {
  margin-left: 0;
}

nav *:last-child {
  margin-right: 0;
}
