@font-face {
  font-family: "Quicksand";
  src: url(/css/fonts/Quicksand.ttf);
}

:root {
  font-family: "Quicksand";

  --bg-color: #282A36;
  --bg-accent: #44475A;
  --txt-color: #F8F8F2;
  --txt-accent: #6272A4;

  --green-accent: #50FA7B;
  --blue-accent: #8BE9FD;
  --pink-accent: #FF79C6;
}

html {
  background: var(--bg-color);
  color: var(--txt-color);
}

/* Simple CSS inspired by bettermotherfuckingwebsite.com */

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
}

h1, h2, h3 {
  line-height: 1.2;
}

img {
  max-width: 100%;
}

/* Nav styling */

nav {
  display: flex;
  align-items: center;
}

nav * {
  margin: 0 10px;
}

nav *:first-child {
  margin-left: 0;
}

nav *:last-child {
  margin-right: 0;
}
