---
layout: layouts/base.njk
header:
  title: about me
  description: what I'm all about
  accent_class: blue-accent
---

<figure data-tilt data-tilt-max="5" data-tilt-glare data-tilt-max-glare="0.25">
  <img src="/img/tom-rollerblading.jpg" alt="me rollerblading!">
  <figcaption>they see me rollinnn 🛼</figcaption>
</figure>

<p>
My name is Thomas Lauerman and I’m a student at Trinity University with a
passion for all things computer science. I’ve been programming since I was a
kid, making animations and simple games on Scratch. As I kept expanding my
knowledge, little animations and games became web tools and mobile apps.
However, my drive remains the same: expressing my creativity, delighting users,
and making people’s lives easier.
</p>

<p>
In addition to being a software engineer, I've also got some other hobbies. I'm
a bit of a gamer, and I own every major Nintendo console since the NES. I 
recently picked up rollerblading, and I try to skate a few times a week to stay
in shape. I'm also a big fan of 80's music, my favorite food is eggs and I'm
a proud <dfn title="one who prefers cats over dogs">cat person</dfn> (although
not a <dfn title="one who is part human and part cat">cat-person</dfn>).
</p>

<ul class="chip-group">
  <li class="chip">🏠 Frisco, TX native</li>
  <li class="chip">🏠 San Antonio, TX resident</li>
  <li class="chip">🏛️ Trinity University student</li>
  <li class="chip">🎷 80’s music addict</li>
  <li class="chip">🎓 Computer Science major</li>
  <li class="chip">💻 computer science tutor</li>
  <li class="chip">🕹️ Nintendo fanboy</li>
  <li class="chip">🍳 egg fanatic</li>
  <li class="chip">🐱 cat person</li>
</ul>
