---
layout: layouts/base.njk
header:
  title: experience
  description: with every new experience I level up
  accent_class: green-accent
---
{% for exp in experience %}
  <h2>{{ exp.title }}</h2>
  <p>
    {% if exp.company %}
      {{ exp.employment_type }} @ {{ exp.company }}
    {% else %}
      {{ exp.employment_type }}
    {% endif %}
    <br>
    {{ exp.start_date }} - {{ exp.end_date }}
  </p>
  <p>{{ exp.description }}</p>
  <ul>
  {% for resp in exp.responsibilities %}
    <li>{{ resp }}</li>
  {% endfor %}
  </ul>
  <h3>skills</h3>
  <ul class="chip-group">
    {% for skl in exp.skills %}
      <li class="chip">{{ skl }}</li>
    {% endfor %}
  </ul>
  {% if exp.links %}
    <h3>links</h3>
    <ul>
    {% for lnk in exp.links %}
      <li><a href="{{ lnk.link }}">{{ lnk.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
