---
layout: layouts/base.njk
header:
  title: experience
  description: with every new experience I level up
  accent_class: green-accent
---
<p>
  For a more concise, printer-friendly version, check out the
  <a class="pink-accent" href="/resume">resume</a> page.
</p>

<h2>Overview</h2>
<ul>
{% for exp in experience %}
  <li>
    <a href="#{{ exp.title | urlencode }}">{{ exp.title }}</a>
  </li>
{% endfor %}
</ul>

{% for exp in experience %}
  <div class="img-header" id="{{ exp.title | urlencode }}">
    {% if exp.img %}
      <img src="{{ exp.img.src }}" alt="{{ exp.img.alt }}">
    {% endif %}
    <h2>{{ exp.title }}</h2>
  </div>
  <p>
    {% if exp.company %}
      {{ exp.employment_type }} @ {{ exp.company }}
    {% else %}
      {{ exp.employment_type }}
    {% endif %}
    <br>
    {{ exp.start_date }} - {{ exp.end_date }}
  </p>
  <p>{{ exp.description }}</p>
  <h3>responsibilities</h3>
  <ul>
  {% for resp in exp.responsibilities %}
    <li>{{ resp }}</li>
  {% endfor %}
  </ul>
  <h3>skills</h3>
  <ul class="chip-group">
    {% for skl in exp.skills %}
      <li class="chip">{{ skl }}</li>
    {% endfor %}
  </ul>
  {% if exp.links %}
    <h3>links</h3>
    <ul>
    {% for lnk in exp.links %}
      <li><a href="{{ lnk.link }}">{{ lnk.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
