---
layout: layouts/base.njk
header:
  title: experience
  description: with every new experience I level up
  accent_class: green-accent
---
{% for exp in experience %}
  <h2>{{ exp.title }}</h2>
{% else %}
  <h2>empty</h2>
{% endfor %}
