---
layout: layouts/base.njk
title: home
---
<h1>
  Hey, I'm Tom!
  <small>Thomas for long.</small>
</h1>

<figure
   data-tilt
   data-tilt-max="5" 
   data-tilt-glare 
   data-tilt-max-glare="0.25"
   style="max-width: 400px; margin: auto">
  <img src="/img/tom-with-snek-headshot.jpg" alt="me holding a snake">
  <figcaption>me getting familiar with python 🐍</figcaption>
</figure>
