---
layout: layouts/base.njk
title: home
---
<figure data-tilt data-tilt-max="5" data-tilt-glare data-tilt-max-glare="0.25">
  <img src="/img/tom-with-snek-headshot.jpg" alt="">
  <figcaption>me getting familiar with python 🐍</figcaption>
</figure>
