---
layout: layouts/base.njk
title: home
header:
  title: Hey, I'm Tom!
  description: Thomas for long.
---
<div class="hero">
  <figure
     data-tilt
     data-tilt-max="5" 
     data-tilt-glare 
     data-tilt-max-glare="0.25"
     style="max-width: 400px; margin: auto">
    <img src="/img/tom-with-snek-headshot.jpg" alt="me holding a snake">
    <figcaption>
      me getting familiar with python 
      <span role="img" aria-label="snake-emoji">🐍</span>
    </figcaption>
  </figure>

  <p style="text-align: center">
    looking for a software engineer? 
    <span role="img" aria-label="eyes-emoji">👀</span>
    <br>
    <a href="/resume" class="action-btn">
      check out my <span class="pink-accent">resume</span>!
    </a>
  </p>
</div>

<h1 class="cyan-accent">
  about me 
  <small>what I'm all about</small>
</h1>
<p>
My name is Thomas Lauerman and I’m a student at Trinity University with a
passion for all things computer science. I’ve been programming since I was a
kid, making animations and simple games on Scratch. As I kept expanding my
knowledge, little animations and games became web tools and mobile apps.
However, my drive remains the same: expressing my creativity, delighting users,
and making people’s lives easier.
</p>

<p>
  <a href="/about_me">read more <span class="cyan-accent">about me</span></a>
</p>

<h1 class="green-accent">
  experience 
  <small>with every new experience I level up</small>
</h1>
<div class="exp-grid">
  {% for exp in experience %}
    {% if loop.index <= 4 %}
      <article>
        <div class="img-header">
          {% if exp.img %}
            <img src="{{ exp.img.src }}" alt="{{ exp.img.alt }}">
          {% endif %}
          <h3><a href="/experience/#{{ exp.title | urlencode }}">{{ exp.title }}</a></h3>
          </div>
          <p>
            {% if exp.company %}
              {{ exp.employment_type }} @ {{ exp.company }}
            {% else %}
              {{ exp.employment_type }}
            {% endif %}
            <br>
            {{ exp.start_date }} - {{ exp.end_date }}
          </p>
          <div>
            <p style="margin: 0; font-weight: bold">
              skills:
            </p>
            <ul class="chip-group">
              {% for skl in exp.skills %}
                <li class="chip-light">{{ skl }}</li>
              {% endfor %}
            </ul>
          </div>
      </article>
    {% endif %}
  {% endfor %}
</div>

<p style="text-align: center">
  ...and {{ experience.length - 4 }} more!
</p>

<p>
  <a href="/experience">read more <span class="green-accent">experience</span></a>
</p>
