---
layout: layouts/base.njk
header:
  title: resume
  description: break out the .pdfs
  accent_class: pink-accent
---
<object 
  data="/dat/resume.pdf"
  type="application/pdf"
  width="100%"
  height="500px">
</object>

<a href="/dat/resume.pdf" download="thomas-lauerman-resume.pdf">
  Download my <span class="pink-accent">resume</span> (.pdf)
</a>

<h2>further reading</h2>

<p>For more detailed information, check out my profile on LinkedIn!</p>

<div
  class="LI-profile-badge"
  data-version="v1"
  data-size="large"
  data-locale="en_US"
  data-type="horizontal"
  data-theme="dark"
  data-vanity="thomas-lauerman">
  <a
    class="LI-simple-link"
    href='https://www.linkedin.com/in/thomas-lauerman?trk=profile-badge'>
    Thomas Lauerman on LinkedIn
  </a>
</div>

<script
  type="text/javascript"
  src="https://platform.linkedin.com/badges/js/profile.js"
  async
  defer>
</script>
