---
layout: layouts/base.njk
header:
  title: resume
  description: break out the .pdfs
  accent_class: pink-accent
---
<object 
  data="/dat/resume.pdf"
  type="application/pdf"
  width="100%"
  height="500px">
</object>

<p>
  <a href="/dat/resume.pdf" download="thomas-lauerman-resume.pdf">
    Download my <span class="pink-accent">resume</span> (.pdf)
  </a>
</p>

<p>
  <a href="https://www.linkedin.com/in/thomas-lauerman">Thomas Lauerman on LinkedIn</a>
</p>
